* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: #111;
  padding: 20px;
  height: 400px;
  width: 400px;
  border-radius: 12px;
  display: flex;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

button {
  margin-top: 30px;
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #027171;
}
button:active {
  scale: 0.95;
}

@media (max-width: 430px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
  }
  #card{
    padding: 20px;
  height: 60%;
  max-height: 400px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  }
  h1 {
    font-size: 1.5rem;
  }
  button {
    width: 100%;
    max-width: 300px;
  }
}
